@{
    Layout = "_AdminLayout";
}

<h1 class="h2 mb-4">Dashboard</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card bg-success text-white mb-3">
            <div class="card-body">
                <h5>Seasons</h5>
                <h3>@ViewBag.TotalSeasons</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-info text-white mb-3">
            <div class="card-body">
                <h5>Teams</h5>
                <h3>@ViewBag.TotalTeams</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-secondary text-white mb-3">
            <div class="card-body">
                <h5>Tournaments</h5>
                <h3>@ViewBag.TotalTournaments</h3>
            </div>
        </div>

        
    </div>
    <div class="col-md-4">
        <div class="card bg-info text-white mb-3">
            <div class="card-body">
                <h5>Players</h5>
                <h3>@ViewBag.TotalPlayers</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-info text-white mb-3">
            <div class="card-body">
                <h5>News</h5>
                <h3>@ViewBag.TotalNews</h3>
            </div>
        </div>
    </div>
</div>
