@using GoalArena.Utility
@model IEnumerable<GoalArena.Models.Tournament>

@{
    ViewData["Title"] = "Tournaments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Tournament List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Tournament
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.Country</td>
                    <td>
                        @if (!string.IsNullOrEmpty(obj.LogoUrl))
                        {
                            <img src="@obj.LogoUrl" style="width:50px; height:50px;" />
                        }
                        else
                        {
                            <span>No Logo</span>
                        }
                    </td>
                    @if (User.IsInRole(SD.SuperAdmin) || User.IsInRole(SD.Admin))
                    {
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@obj.TournamentId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-action="Details" asp-route-id="@obj.TournamentId" class="btn btn-info mx-2">
                                    <i class="bi bi-info-circle"></i> Details
                                </a>
                                <a asp-action="Delete" asp-route-id="@obj.TournamentId" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
