@using GoalArena.Utility
@model IEnumerable<News>
@{
    ViewData["Title"] = "News";
    @*  Layout = "~/Views/Shared/_Layout.cshtml";*@
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Team List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Team
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>PublishedDate</th>
                <th>ImageNews</th>
                <th>playerId </th>
                <th>TeamId</th>
                <th>MatchId</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.Content</td>
                    <td>@(obj.PublishedDate != null ? obj.PublishedDate.ToString("dd/MM/yyyy") : "N/A")</td>
                    <td>
                        @if (!string.IsNullOrEmpty(obj.ImageNews))
                        {
                            <img src="@obj.ImageNews" style="width:50px; height:50px;" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>
                    <td>@obj.playerId</td>
                    <td>@obj.TeamId</td>
                    <td>@obj.MatchId</td>

                    
                        @if (User.IsInRole(SD.SuperAdmin) || User.IsInRole(SD.Admin))
                        {<td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>

                                <a asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
						</td>
					}
                    
                </tr>
            }
        </tbody>
    </table>
</div>
